/* Fondo general */
body{
    background-color: #0a0a0a;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Inputs y select */
input, select{
    background-color: #111;
    color: #fff;
    border: 2px solid #a020f0;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

/* efecto neon */
input:focus, select:focus{
    box-shadow: 0 0 10px #a020f0, 0 0 20px #a020f0;
}

/* botón */
button{
    background-color: transparent;
    color: #a020f0;
    border: 2px solid #a020f0;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

/* efecto hover neon */
button:hover{
    background-color: #a020f0;
    color: black;
    box-shadow: 0 0 10px #a020f0, 0 0 30px #a020f0;
}

/* resultados */
h2{
    margin-top: 15px;
    color: #c77dff;
    text-shadow: 0 0 8px #a020f0;
}